<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>DESAFIO 11 EJS</title>
    </head>

    <body>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1>Desafio 11: EJS</h1>
            </div>
        </div>

        <div class="container">
            <h1 style="color: blue;"></h1>
            <br><br>
            <div class="container col-md-6 d-flex justify-content-center" style="border: 1px solid blue">
                <form class=" d-flex flex-column" method="POST" action="/productos">
                    <div class="form-group">
                        <label for="email">Title:</label>
                        <input class="form-control" type="text" name="title" class="ml-auto" required
                            placeholder="title" />
                    </div>
                    <div class="form-group">
                        <label for="pwd">Price:</label>
                        <input class="form-control" type="number" name="price" class="ml-auto" required
                            placeholder="$" />
                    </div>
                    <div class="form-group">
                        <label for="pwd">thumbnail:</label>
                        <input class="form-control" type="text" name="thumbnail" class="ml-auto" required
                            placeholder="URL de la imagen" />
                    </div>
                    <button type="submit" class="btn btn-default" value="Agregar">Submit</button>
                </form>
            </div>
        </div>
    </body>

</html>