
{{#if productos.length }}
    <div class="container"> 
        <h1 style="color: blue;">Listado de Productos</h1>
        <table class="table table-hover table-dark">
        <thead>
            <tr>
            <th scope="col">NOMBRE</th>
            <th scope="col">PRECIO</th>
            <th scope="col">FOTO</th>
            </tr>
        </thead>
        <tbody>
            {{#each productos}} 
            <tr>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td><img src="{{this.thumbnail}}" alt="" height="50px"></td>
            </tr>
            {{/each}}
        </tbody>
        </table>
    </div>
{{else}}
    <div class="container"> 
        <h1 style="color: blue;">No se encontraron productos</h1>
        <div class="d-flex justify-content-center align-items-center" style="height:50vh">
            <img src="https://www.iamqatar.qa/assets/images/no-products-found.png" alt="">
        </div>
    </div>
{{/if}}

